.message-alert{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  z-index: 1021;
}
.message-alert.body{
  top:65;
}
.image-galery{
  margin-top: 25px;
  margin-bottom: 25px;
}
.image-galery .img-thumbnail{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-galery img{
  margin: auto;
}